@using Microsoft.AspNetCore.Identity;
@using CompraVenta.ViewModels;
@model AuctionsViewModel
@inject SignInManager<Account> SignInManager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper-main">
    <!-- full Title -->
    <div class="full-title">
        <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">Subastas</h1>
            <div class="breadcrumb-main">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="blog-main">
        <div class="container">
            <div class="row">
                <!-- Blog Entries Column -->
                <div class="col-md-8 blog-entries">
                    @foreach (var auction in Model.Auctions)
                    {
                        <!-- Blog Post -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="by-post">
                                    <!-- Not Yet -->
                                </div>
                                <h2 class="card-title">@auction.Title</h2>
                                @{
                                    string Summary = auction.Details;
                                    if (auction.Details.Length > 150)
                                    {
                                        Summary = auction.Details.Substring(0, 150) + "...";
                                    }
                                }

                                <p class="card-text">@Summary</p>
                                @if (auction.Begin.CompareTo(DateTime.Now) == 1)
                                {
                                    <h5 class="card-title">Precio de Salida: $@auction.StartPrice.</h5>
                                    TimeSpan r = auction.Begin.Subtract(DateTime.Now);
                                    <a asp-action="Details" asp-controller="Auction" asp-route-id="@auction.Id" class="btn btn-warning">
                                        Por comenzar &rarr;
                                    </a>
                                    <h6 class="my-3">Comienza en: @r.Days día(s), @r.Hours hora(s), @r.Minutes minuto(s) </h6>
                                }
                                else if (auction.End.CompareTo(DateTime.Now) == -1)
                                {
                                    <h5 class="card-title">Precio de cierre: $@auction.CurrentPrice.</h5>
                                    <a asp-action="Details" asp-controller="Auction" asp-route-id="@auction.Id" class="btn btn-info">
                                        Cerrada &rarr;
                                    </a>
                                    <h6 class="my-3">Fecha de cierre: @auction.End </h6>
                                }
                                else
                                {
                                    TimeSpan r = auction.End.Subtract(DateTime.Now);
                                    <h5 class="card-title">Precio actual: $@auction.CurrentPrice.</h5>
                                    <a asp-action="Details" asp-controller="Auction" asp-route-id="@auction.Id" class="btn btn-success">
                                        En curso &rarr;
                                    </a>
                                    <h6 class="my-3">Tiempo restante: @r.Days día(s), @r.Hours hora(s), @r.Minutes minuto(s)</h6>
                                }
                                @if (SignInManager.IsSignedIn(User) && User.Identity.Name.Equals(auction.CurrentOwner))
                                {
                                    <h5 class="far fa-check-circle" style="color: rgb(85, 216, 48)"><b> Ganador </b></h5>
                                }
                            </div>
                        </div>
                    }

                    <div class="pagination_bar_arrow">
                        <!-- Pagination -->
                        <ul class="pagination justify-content-center mb-4">
                            <li class="page-item">
                                @{
                                    int prev = Model.Page - 1;
                                    int next = Model.Page + 1;
                                }
                                @if (Model.Page <= 1)
                                {
                                    <a class="page-link disabled">&larr; Older</a>
                                }
                                else
                                {
                                    <a class="page-link" asp-action="Auctions" asp-controller="Auction"
                                       asp-route-page="@prev"
                                       asp-route-text="@Model.SearchText"
                                       asp-route-minPrice="@Model.MinPrice"
                                       asp-route-maxPrice="@Model.MaxPrice"
                                       asp-route-category="@Model.ACategory">&larr; Older</a>
                                }
                            </li>
                            <li class="page-item">
                                @if (Model.Page >= Model.TotalPages)
                                {
                                    <a class="page-link disabled">Newer &rarr;</a>
                                }
                                else
                                {
                                    <a class="page-link" asp-action="Auctions" asp-controller="Auction"
                                       asp-route-page="@next"
                                       asp-route-text="@Model.SearchText"
                                       asp-route-minPrice="@Model.MinPrice"
                                       asp-route-maxPrice="@Model.MaxPrice"
                                       asp-route-category="@Model.ACategory">&larr; Older</a>
                                }
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Sidebar Widgets Column -->
                <div class="col-md-4 blog-right-side">

                    <form method="get" asp-action="Auctions" asp-controller="Auction" class="card mb-4">
                        <h5 class="card-header">Buscar:</h5>
                        <div class="card-body">
                            <div class="input-group">
                                <input type="text" asp-for="SearchText" class="form-control" placeholder="Texto...">
                            </div>
                        </div>
                        <div class="card my-4">
                            <h5 class="card-header">Categorías:</h5>
                            <select class="control-group form-group-lg browser-default custom-select-lg" asp-for="ACategory">
                                <option class="custom-select-lg" value="All" selected>Todos</option>
                                <option class="custom-select-lg" value="Hogar">Hogar</option>
                                <option class="custom-select-lg" value="Electronico">Electrónico</option>
                                <option class="custom-select-lg" value="Vivienda">Vivienda</option>
                                <option class="custom-select-lg" value="Autos">Autos</option>
                                <option class="custom-select-lg" value="Vestuario">Vestuario</option>
                            </select>
                        </div>

                        <div class="card my-4">
                            <h5 class="card-header">Estados:</h5>
                            <select class="control-group form-group-lg browser-default custom-select-lg" asp-for="State">
                                <option class="custom-select-lg" value="All" selected>Todos</option>
                                <option class="custom-select-lg" value="Closed">Cerradas</option>
                                <option class="custom-select-lg" value="Running">En curso</option>
                                <option class="custom-select-lg" value="Coming">Por comenzar</option>
                            </select>
                        </div>

                        <div class="card my-4">
                            <h5 class="card-header">Precio actual:</h5>
                            <div class="card-body">
                                <div class="row my-2">
                                    <h3 class="col-lg-4">Max:</h3>
                                    <div class="col-lg-8">
                                        <input asp-for="MaxPrice" class="form-control" type="number" />
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <h3 class="col-lg-4">Min:</h3>
                                    <div class="col-lg-8">
                                        <input asp-for="MinPrice" class="form-control" type="number" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
</div>

